h1 {
    background-color: lightblue;
}

#btnconsumir{
    align-content: center;
    margin: 2% !important;
}

#btnfiltrar{
    align-content: center;
    margin: 2% !important;
}

#btnfiltrardos{
    align-content: center;
    margin: 2% !important;
}

#buscartitulo{

}


